@media (max-width: 1170px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}





/* Bootstrap */
@media (min-width: 992px) {
	/*Chon 4 phan tu dau tien*/
	.content-item .item.col-lg-3:nth-child(-n + 4) {
		margin-top: 0;
	}
}
@media (min-width: 768px) {
	/*Chon 4 phan tu dau tien*/
	.content-item .item.col-md-6:nth-child(-n + 2) {
		margin-top: 0;
	}
}
@media (min-width: 576px) {
	.content-item .item.col-sm-6:nth-child(-n + 2) {
		margin-top: 0;
	}
}