@media (max-width: 1170px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 992px){
	.info-header{
		text-align: center;
	}
	.noidung{
		padding-left: 15px;
		padding-right: 15px;
	}
	#backtotop{
		right: 5px;
	}
	.navbar-light .navbar-nav .a-block{
		font-size: 13px;
	}
	.block-user-img{
		display: block;
	}
	.content-support{
		margin: 0;
		margin-top: 15px;
	}
}




/* Bootstrap */
@media (min-width: 992px) {
	/*Chon 4 phan tu dau tien*/
	.content-item .item.col-lg-3:nth-child(-n + 4) {
		margin-top: 0;
	}
}
@media (min-width: 768px) {
	/*Chon 4 phan tu dau tien*/
	.content-item .item.col-md-6:nth-child(-n + 2) {
		margin-top: 0;
	}
}
@media (min-width: 576px) {
	.content-item .item.col-sm-6:nth-child(-n + 2) {
		margin-top: 0;
	}
}
@media (max-width: 576px){
	.content-footer{
		text-align: center;
	}
	.phone-number p{
		text-align: center;
	}
	.phone-number{
		margin: 0 auto;
		display: block;
		width: 100%;
	}
	.logo{
		display: block;
		margin: 0 auto;
	}
	
	.navbar-light .navbar-nav .a-block{
		font-size: 13px;
		padding-right: 0;
		padding-left: 15px;
	}
	.navbar-light .navbar-nav .active>.a-block{
		padding: 10px 15px;
	}
}
@media (max-width: 768px){
	.wrapper0.col-12{
		padding: 0;
	}
	.find{
		display: block;
		justify-content:center;
		padding: 10px 0;
	}
	.navbar p{
		display: block;
	}

	.main-slider .slick-dots{
		right: 0;
		bottom: 0;
	}

}