@media only screen and (max-width: 1024px){
	.nav-menu ul li a{
		font-size: 13px;
	}
	.item-menu-left{
		padding-left: 0;

	}
	.item-menu-right{
		padding-right: 0;
		padding-left: 0;
	}
	.frames-support ul{
		text-align: center;
	}
}
@media only screen and (max-width: 991px){
	/*.product .content-product .item.col-20:nth-child(5n+1){
		padding-left: 10px;
	}
	.product .content-product .item.col-20:nth-child(5n+5){
		padding-right: 10px;
	}
	.product .content-product .item.col-20:nth-child(-n+5){
		margin-top: 0px;
	}
	.product .content-product .item.col-rp-4:nth-child(-n+4){
		margin-top: 30px;
	}
	.product .content-product .item.col-rp-4:nth-child(4n+1){
		padding-left: 0;
	}
	.product .content-product .item.col-rp-4:nth-child(4n+4){
		padding-right: 0;
	}*/
	#unknow{
		width: 100%;
	}
	.silde-s .wrapper-silde{
		padding-right: 0;
	}
	.bg-footer .logo-content-footer .logo-footer{
		transform: translateY(0%);
	}
	.bg-footer .logo-content-footer .item{
		margin-bottom: 30px;
	}
	.bg-bottom-menu .nav-menu ul{
		padding-bottom: 15px;
		text-align: center;
	}
	.product .content-product{
		padding: 0 5px;
	}
	.product .project .content-product .item-product a{
		text-align: left;
	}
	.product .content-product .item-product a{
		text-align: center;
	}
	.container{
		padding: 0;
	}
	.frames-logo{
		text-align: center;
	}
	.frames-support{
		text-align: center;
	}
	.right-menu {
		text-align: center;
	}
	.title-menu{
		text-align: center;
	}
	.title-menu p{
		display: none;
	}
	.title-menu{
		background-color: transparent;
	}
	.title-menu button:hover,
	.title-menu button:focus{
		cursor: pointer;
	}
	.wrapper-list-menu{
		display: none;
	}
	.item-menu-left{
	display: none;
	}
	.click-menu-rs{
		display: block;
		top: 50%;
		/*background: transparent;*/
	}
	.click-menu-rs #toggle-menu-rs{
		background-color: rgba(204, 169, 70, 0.3);
		position: fixed;
	}
	.col-rp-4{
		width: 25%;
		display: flex;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.product .more .banner .text-banner h4{
		font-size: 26px;
	}
	.product .more .banner .text-banner span{
		font-size: 16px;
	}
	.nav-menu ul li a{
		font-size: 15px;
	}
	.row{
		margin: 0;
	}
}
@media only screen and (max-width: 767px){
	/*.hotline{
		display: block;
		text-align: center;
	}*/
	.right-menu .nav-menu ul li{
		display: block;
	}
	.frames-logo .logo,
	.frames-logo .text-logo{
		display: block;
		text-align: center;
	}
	.frames-logo .text-logo{
		width: 100%;
		margin-top: 20px;
		padding: 0;
	}
	.frames-support h3{
		text-align: center;
	}
	.box>.container>.row .item{
		padding: 10px !important; ;
	}
	.col-rp-3{
		width: 33.3333%;
		display: flex;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
/*	.product .content-product .item.col-rp-4:nth-child(-n+4){
		margin-top: 0;
	}
	.product .content-product .item.col-rp-4:nth-child(4n+1){
		padding-left: 10px;
	}
	.product .content-product .item.col-rp-4:nth-child(4n+4){
		padding-right: 10px;
	}
	.product .content-product .item.col-rp-3:nth-child(-n+3){
		margin-top: 30px;
	}
	.product .content-product .item.col-rp-3:nth-child(3n+1){
		padding-left: 0 ;
	}
	.product .content-product .item.col-rp-3:nth-child(3n+3){
		padding-right: 0 ;
	}*/
	.product .more .banner .text-banner h4{
		font-size: 22px;
	}
	.product .more .banner .text-banner span{
		font-size: 12px;
	}
}
@media only screen and (max-width: 576px){
	.contact{
		display: block;
	}
	.menu-bt .nav-menu ul li {
		display: block;
	}
	.contact .icon-contact{
		display: block;
		float: left;
		width: 100%;
		text-align: center;
	}
	.contact p{
		display: block;
		text-align: center;

	}
	.hotline{
		display: block;
		text-align: center;
	}	
	.product .more .banner .text-banner h4{
		font-size: 18px;
	}
	.product .more .banner .text-banner span{
		font-size: 12px;
	}	
	
	/*.product .content-product .item.col-rp-3:nth-child(-n+3){
		margin-top: 0;
	}
	.product .content-product .item.col-rp-3:nth-child(3n+1){
		padding-left: 10px;
	}
	.product .content-product .item.col-rp-3:nth-child(3n+3){
		padding-right: 10px;
	}
	.product .content-product .item.col-rp-1:nth-child(-n+1){
		margin-top: 30px;
	}
	.product .content-product .item.col-rp-1:nth-child(1n+1){
		padding-left: 0 ;
	}
	.product .content-product .item.col-rp-1:nth-child(1n+1){
		padding-right: 0 ;
	}*/
	.col-rp-1{
		width: 100%;
		display: flex;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.product .content-product .item-product{
		width: 100%;
	}	
}
@media only screen and (max-width: 496px){
	.frames-support ul li:first-child{
		display: block;
		padding: 0;
	}
	.frames-support ul li + li{
		display: block;
		border: none;	
		padding: 0;
	}
	.product .more .banner .text-banner h4{
		font-size: 16px;
	}
	.product .more .banner .text-banner span{
		font-size: 8px;
	}	
}