*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 100%;
	/*background-image: url(../images/01-home.png);*/
	/*background-repeat: no-repeat;*/
	/*opacity: 0.6;*/
}
/*body:before{
	content: '';
	display: block;
	background-color: transparent;
	z-index: 999;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: none;
}*/
button{
	outline: none;
    border: none;
    background: transparent;
}
img{
	max-width: 100%;
}
p{
	margin-bottom: 0;
}
ul{
	margin-bottom: 0;
}
.wrapper-logo{
	width: 100%;
	background-image: url(../images/Background-logo.png);
	border: 1px solid #ebebec;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.fz0{
	font-size: 0;
}
.fz{
	font-size: 14px;
}
.top-header{
	line-height: 2.143;
	padding: 2.5px 0;
	max-width: 1170px;
	margin: 0 auto;
}
.hotline p{
	color: #4e4e4e;
}
.hotline p:before{
		content: "\f095";
	    font-family: "Font Awesome 5 Free";
		font-size: 12px;
	    font-weight: 900;
	    padding-right: 5px;
}
.hotline p span{
	color: #ed1111;
}
.contact p{
	color: #4e4e4e;
	display: inline-block;
}
.contact p:before{
	content: "\f0e0";
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	font-weight: 900;
	padding-right: 5px;
}
.contact .icon-contact{
	display: inline-block;
	float: right;
}
.contact .icon-contact a{
	
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.icon-facebook{
	font-size: 14px;
	background-color: #2556a0;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: block;
	position: relative;

}
.icon-facebook>.fab{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.icon-contact>.icon-facebook:hover{
	background-color: #fff;
	border: 1px solid #2556a0;
}
.icon-facebook:hover>.fab{
	color: #2556a0;
}
.icon-twitter{
	font-size: 14px;
	background-color: #00b7eb;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: block;
	position: relative;
}
.icon-twitter>.fab{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.icon-contact>.icon-twitter:hover{
	background-color: #fff;
	border: 1px solid #00b7eb;
}
.icon-twitter:hover>.fab{
	color: #00b7eb;
}
.icon-g-plus{
	font-size: 14px;
	background-color: #fa4631;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: block;
	position: relative;
}
.icon-g-plus>.fab{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.icon-contact>.icon-g-plus:hover{
	background-color: #fff;
	border: 1px solid #fa4631;
}
.icon-g-plus:hover>.fab{
	color: #fa4631;
}
.logo img{
	width: 125px;
	height: 80px;
	
}
.logo{
	display: inline-block;
}
.text-logo{
	width: calc( 100% - 125px);
	display: inline-block;
	vertical-align: top;
	padding-left: 25px;
	font-family: 'Roboto Condensed', sans-serif;

}
.ff-impact{
	font-family: Imact;
	font-size: 24px;
	color: #014eff;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 0px 1px 1px #bfbfbf;
}
.frames-logo{
	 padding-top:20px;
	 padding-bottom: 20px;
}
.frames-logo .text-logo{
	transform: translateY(25%);
}
.frames-support{
	padding-top:20px;
	padding-bottom: 20px;
}
.frames-support h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 0;
	line-height: 2.25;
	color: #2d2d2d;
}
.frames-support ul{
	list-style-type: none;
	font-size: 14px;
	color: #555555;

}
.frames-support ul li:first-child{
	display: inline-block;
	padding-right: 15px;
}
.frames-support ul li + li{
	display: inline-block;
	padding: 0 15px;
	border-left: 1px dashed #b4b4b4;
}
.frames-support ul li p span{
	font-size: 18px;
	color: red;
	font-weight: 700;
}
.bg-menu{
	background-color: #014eff;
}
.title-menu{
	background-color: #ff6600;
	padding-top: 11px;
    padding-bottom: 10px;
}
.title-menu p{
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	line-height: 1.666;
	vertical-align: middle;
}
.title-menu button{
	padding: 6px 10px;
	display: inline-block;
	background:transparent;
	border: none;
	vertical-align: top
}
.icon-custom1{
	display: block;
	width: 20px;
	height: 3px;
	background-color: #fff;
}
.wrapper-list-menu{
	padding-right: 0;
}
.wrapper-silde .slick-dotted.slick-slider{
	margin-bottom: 0;
}
.wrapper-silde{
	padding-left: 0;
}
.icon-custom2,
.icon-custom3{
	display: block;
	width: 20px;
	height: 3px;
	background-color: #fff;
	margin-top: 3px;
}
.item-menu-right{
	padding-left: 0;
}
.item-menu-left{
	padding-right: 0;
}
.menu{
	    align-items: center;
}
.nav-menu ul{
	list-style-type: none;
}
.nav-menu ul li{
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}
.nav-menu ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	display: block;
	padding: 13px 10px;
}
.nav-menu ul li:hover{
	background-color: #013ecc;
}
.nav-menu ul li.active{
	background-color: #013ecc;
}
.nav-menu ul:hover li{
	background-color: transparent;
}
.nav-menu ul li:hover{
	background-color: #013ecc;
}
.content-list-menu{
	margin-top: 10px;
	background-image: url(../images/Background-logo.png);

}
.content-list-menu ul {
	list-style-type: none;
}
.content-list-menu ul li{
	padding: 10px 10px;
	width: 100%;
}
.content-list-menu ul li a{
	text-decoration: none;
	color: #333333;
	display: block;
}
.list-menu{
	background-color: #fff;
}
.list-menu ul{
	list-style-type: none;
}
.list-menu ul li a{
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	display: block;	
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: 1px dashed #ededed;
}
.list-menu ul li a:last-child{	
	padding-bottom: 15px;
}
.list-menu ul li ul{
	display: none;
	width: 100%;
	position: absolute;
	background-color: #ff6600;
	top: 0;
	right: 0;
	transform: translateX(100%);
	z-index: 99;
}
.list-menu ul li{
	position: relative;
}
.list-menu>ul>li>ul>li>ul{
	display: none;
}
.list-menu ul li ul li a{
	border-bottom: 1px solid #ed5f00;
}
.list-menu ul li ul li:last-child{
	border-bottom: none;
}
.list-menu ul li ul li{
	position: relative;
}

.list-menu ul li button{
	position: absolute;
	border: none;
	background:transparent;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
}
.list-menu ul li button:focus{
	outline: none;
}
.list-menu ul li button:hover{
	cursor: pointer;
}
.list-menu ul li button>.fa-caret-right{
	color: #c2c2c2;
}
.list-menu ul li ul li>button>.fa-angle-right{
	/*font-size: 15px;*/
	position: absolute;
	border: none;
	background:transparent;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.list-menu>ul>li:hover {
	background-color: #ed5f00;	
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.list-menu>ul>li:hover a{
	color: #fff;
/*	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;*/
}
.list-menu>ul>li:hover>a{
	border-bottom: none;
}
.list-menu ul li:hover>ul{
	display: block;
}
.list-menu ul li>ul>li:hover{
	background-color: #ed5f00;	
}
.list-menu ul li>ul>li:hover>a{
	border-bottom: none;
}
.img-block{
	position: relative;
}
.img-block:before{
	content: '';
	display: block;
	padding-top: 50%;
}
.img-block img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}
.img-block>#img-2{
	opacity: .1;
}
.silde-block h3{
	position: absolute;
	top: 50%;
	text-align: center;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 36px;
	color: #fff;
	margin-bottom: 0;
	display: block;
	width: 100%;
	z-index: 6;
}
.silde-block h3 span{
	font-size: 24px;
}
.silde-s .wrapper-silde .slick-initialized .slick-slide{
	position: relative;
}
.slide.slick-initialized.slick-slider.slick-dotted .slick-next:before{
	background-color: rgba(255,255,255,0.6);
	content: '>';
	color: #000;
	padding: 7px 14px;
}
.slide.slick-initialized.slick-slider.slick-dotted .slick-prev:before:hover,
.slide.slick-initialized.slick-slider.slick-dotted .slick-next:before:hover{
	background-color: rgba(255,255,255,0.8);
}
.slide.slick-initialized.slick-slider.slick-dotted .slick-prev:before{
	background-color: rgba(255,255,255,0.6);
	content: '<';
	color: #000;
	padding: 7px 14px;
}
.slide.slick-initialized.slick-slider.slick-dotted .slick-next{
	right: 35px;
}
.slide.slick-initialized.slick-slider.slick-dotted .slick-prev{
	left: 15px;
	z-index: 1;
}
.slide .slick-dots{
	bottom: 20px;

}
.slide .slick-dots li button{
	border-radius: 50%;
	border: 1px solid #c0c0c0;
}

.slide .slick-dots li button:hover{
	background-color: #013ecc;
	opacity: 0.8px;
	border: 1px solid #fff;
}
.slide .slick-dots li button:before{
	content: '';
}
.slide .slick-dots .slick-active{
	background-color: #013ecc;
	border-radius: 50%;
}
.menu-bt{
	padding: 0;
}
.menu-responsive .wrapper-menu-responsive{
	/*position: absolute; */
	z-index: 999;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 250px;
	height: 100vh;
	transform: translateX(0%);
	display: block;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	position: fixed;
	overflow: auto;
}
.menu-responsive .wrapper-menu-responsive.hidden{
	transform: translateX(-100%);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/*.menu-responsive:after{
	content: '';
	display: block;
	padding-left: calc(100% - 200px);
	background-color: red;
	height: 100vh;
}*/
/*.bg-menu{
	position: relative;
}*/
.menu-responsive .wrapper-menu-responsive ul{
	list-style-type: none;
}
.menu-responsive .wrapper-menu-responsive>ul>li a{
	text-decoration: none;
	color: #0b09e4f2;
	font-size: 16px;
	font-weight: 500;
}
.menu-responsive .wrapper-menu-responsive>ul>li{
	padding: 15px 15px;
	border-bottom: 1px dashed #ededed;
}
.menu-responsive .wrapper-menu-responsive>ul>li{
	cursor: pointer;
}
.menu-responsive .wrapper-menu-responsive>ul>li>ul>li
{
	padding: 15px 10px;
}
.menu-responsive .wrapper-menu-responsive>ul>li>ul>li>ul>li{
	padding: 15px 10px;
}
.menu-responsive .wrapper-menu-responsive>ul li:focus > .custom-icon-1{
	transform: rotate(90deg);
}
.custom-icon-1:focus,
.custom-icon-1:hover{
	outline: none;
	cursor: pointer;
}
.menu-responsive .wrapper-menu-responsive>ul>li ul{
	display: none;
}
.click-menu-rs{
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	/*left: 60%;*/
	/*transform: translateX(-30%);*/
}
.click-menu-rs #toggle-menu-rs{
	padding: 5px;
	border: none;
	height: 30px;
	width: 30px;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.click-menu-rs #toggle-menu-rs:hover{
	cursor: pointer;
}
.click-menu-rs #toggle-menu-rs:focus{
	outline: none;
}

/*.click-menu-rs #toggle-menu-rs:focus>.icon-custom2{
	transform: rotate(45deg);
	margin-top: 0;

}
.click-menu-rs #toggle-menu-rs:focus>.icon-custom1{
	transform: rotate(-45deg);
}
.click-menu-rs #toggle-menu-rs:focus>.icon-custom3{
	
	display: none;
}*/

.custom-icon-1{
	position: absolute;
	right: 0;
	border: none;
	background:transparent;
	float: right;
	width: 50px;
	/*transform: rotate(90deg);*/
}
/*#toggle-menu-rs{
	display: none;
}*/
/*.trs-click-menu{
	display: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border-top-right-radius: 0% !important;
	border-bottom-right-radius: 0% !important;
	background-color: #fff !important;
}*/
#close-menu{
	border: none;
	text-align: center;
	margin-bottom: 5px;
}
#close-menu:hover{
	cursor: default;
}
#close-menu #click-close-menu{
		background-color: rgba(2,76,238,.7);
		width: 80px;
		height: 30px;
		color: #fff;
		border-radius: 10px;
		font-weight: 600;
}
#close-menu #click-close-menu:hover{
	cursor: pointer;
}
#toggle-menu-rs .icon-custom1,
#toggle-menu-rs .icon-custom2,
#toggle-menu-rs .icon-custom3{
	transform: translate(-50%,-50%);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#toggle-menu-rs .icon-custom1{
	display: block;
	width: 20px;
	height: 3px;
	background-color: #ed5f00;
	position: absolute;
	top: 30%;
	left: 50%;
	
	
}

#toggle-menu-rs .icon-custom2{
	display: block;
	width: 20px;
	height: 3px;
	background-color: #ed5f00;
	position: absolute;
	top: 40%;
	left: 50%;
}
#toggle-menu-rs .icon-custom3{
	top: 60%;
	left: 50%;
	display: block;
	width: 20px;
	height: 3px;
	background-color: #ed5f00;
	position: absolute;
}
#toggle-menu-rs .icon-custom1,
#toggle-menu-rs .icon-custom2,
#toggle-menu-rs .icon-custom3,
#toggle-menu-rs .trs-icon1,
#toggle-menu-rs .trs-icon2,
#toggle-menu-rs .trs-icon3{
		-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#toggle-menu-rs .trs-icon1{
	transform: rotate(45deg) !important;
	top: 50% !important;
  left: 15% !important;
}
#toggle-menu-rs .trs-icon2{
	display: none !important;
}
#toggle-menu-rs .trs-icon3{
	top: 40% !important;
  left: 15% !important;
  transform: rotate(-45deg) !important;
}

.box{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
	margin-top: 25px;
}
.box>.container>.row .item{
	padding: 0 15px;
}
.box>.container>.row .item .item-box{
	background-color: #f4f5f6;
	padding: 15px;
	
}
.box>.container>.row .item .item-box h5{
	color: #014eff;
	font-size: 18px;
	padding-left: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	font-weight: 600;
	
}
.box>.container>.row .item .item-box p{
	color: #555555;
	font-size: 14px;
	padding-left: 30px;
	padding-top: 10px;
}
.box>.container>.row .item .item-box .icon img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.box>.container>.row .item .item-box .icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	vertical-align: middle;

}
.box>.container>.row .item .item-box .icon:before{
	padding-top: 100%;
	display: block;
	content: '';
}
.product{
	margin-top: 50px;
	margin-bottom: 20px;
}
.product .title .bg-title{
	/*background-image:  url(../images/bg_headding.png);*/
	/*background-repeat: no-repeat;*/
	display: inline-block;
	vertical-align: middle;
}
.product .more{
	width: 100%;
	margin-bottom: 50px;
}
.product .title{
	border-bottom: 1px solid #e3e3e3;
}
.product .title .bg-title h3{
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase; 
	margin-bottom: 0;
	padding: 7px 51px 7px 15px;
	color: #fff;
	background-image: url(../images/bg_headding.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.product .title a{
	display: inline-block;
	text-decoration: none;
	float: right;
	vertical-align: middle;
	margin-top: 15px;
	color: #999999;
	font-style: italic;
	padding-right: 5px;
}
.product .title a:hover{
	color: #014eff;
}
.product .title a:before{
	content: '>>';
	padding-right: 5px;

}
.product .item-right .more .item{
	padding-bottom: 30px;
}
.product .item-right .more .view-cmt .cmt{
	float: none;
	margin-left: 10px;
}
.product .item-right .more .content-product .item-product>p{
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 0 10px;
}
.product .more .content-product .item-product{
	padding: 6px;
	border: 1px solid #eaeaea;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product .more .content-product .item .item-product:hover,
.product .more .content-product .item .item-product:focus{
	  box-shadow: 0px 0px 3px #10abda;
	  border: 1px solid #10abda;
}
.product .img-product{
	position: relative;
	margin-bottom: 10px;
}
.product .img-product:before{
	content: '';
	display: block;
	padding-top: 60%;
}
.product .img-product img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.product .content-product .item-product a{
	padding: 5px;
	display: block;
	text-decoration: none;
	color: #333333;
	font-size: 15px;
	
	padding-bottom: 10px;
	font-weight: bold;
}
.product .content-product .item-product a:hover{
	color: rgba(1,78,255,0.9);
}
.product .more .view-cmt{
	padding-top: 5px;
	border-top: 1px solid #ebebeb;
}
.product .more .view-cmt .cmt{
	float: right;
}
.product .more .view-cmt .view,
.product .more .view-cmt .cmt{
	display: inline-block;
	color: #999999;
	font-size: 12px;
	font-style: italic;
}
.product .more .view-cmt .view:before{
		content: "\f06e";
		font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
     padding-right: 5px;
}
.product .more .view-cmt .cmt:before{
		content: "\f086";
		font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    padding-right: 5px;
}
.product .more .banner{
	position: relative;
}
.product .more .banner .img-banner img{
	width: 100%;
	max-height: 100px;
}
.product .more .banner .text-banner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.product .more .banner .text-banner h4{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.product .more .banner .text-banner span{
	float: right;
	color: #e5dd7a;
	font-size: 18px;
	margin-right: 15px;
}
.product .title {
	margin-bottom: 30px;
}
.col-20{
	width: 20%;
	display: flex;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.product .servies .prev-next{
	display: inline-block;
	float: right;
	margin-top: 15px;
	padding-right: 5px;
}
.product .servies .prev-next .prev,
.product .servies .prev-next .next{
	display: inline-block;
	transform: skewX(-10deg);
}
.product .servies .prev-next .prev:before{
	content: '<';
	background-color: #b2b2b2;
	font-size: 13px;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	margin-right: 1px;
	color: #fff;
}
.product .servies .prev-next .next:after{
	content: '>';
	background-color: #b2b2b2;
	font-size: 13px;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	margin-left: 1px;
	color: #fff;
}
.product .servies .prev-next .prev:hover:before,
.product .servies .prev-next .next:hover:after{
		cursor: pointer;
		color: #3373dd;
}
.product .servies .item{
	margin-bottom: 25px;
	padding: 0 15px;
}
.product .servies .item-product a{
	border-bottom: none;
	color: #333333;
	font-size: 18px;
	padding: 0;
}
.product .servies .item-product p{
	color: #777777;
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;
}
.product .servies{
	margin-bottom: 25px;
}
.product .project .item-product.pad{
	padding: 15px 0;
	border-bottom: 1px dashed #e2e2e2;
}
.product .project .item-product.pad:first-child{
	padding-top: 0;
}
.product .project .item-product .img-product:before{
	content: '';
	padding-top: 50%;
	display: block;
}
.product .project .item-product a{
	border-bottom: none;
	color: #333333;
	font-size: 18px;
	padding: 0;
	text-align: left;
}
.product .project .item-product p{
	color: #777777;
	font-size: 13px;
	font-weight: normal;
	margin-top: 5px;
	line-height: 1.4;
	margin-top: 0;
}
.product .project .item-product .img-block{
	width: 100px;
	height: 75px;
	display: inline-block;
	vertical-align: top;
}
.product .project .item-product .img-block img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product .project .item-product .content-project{
	display: inline-block;
	width: calc(100% - 100px);
	vertical-align: top;
	padding-left: 15px;
}
.product .project .item-product .content-project a{
	font-size: 15px;
	color: #333333;
	font-weight: 500;
	text-align: left;
}
.product .project .item-product .content-project a:hover{
	color: #3373dd;
}
.product .project .item-product .content-project p{
	font-size: 14px;
	color: #777777;
}
.mg0{
	margin-bottom: 30px;
}
.bg-brand .brand .img-brand{
	width: 150px;
	height: 90px;
/*	border:2px solid #edecec;*/
	padding: 0 15px;
}
.bg-brand .brand .img-brand img{
	width: 100%;
	height: 100%;
}
/*.bg-brand .brand .img-brand:first-child{
	padding-left: 0;
}*/
.bg-brand .brand .img-brand:focus{
	outline: none;
}
.bg-brand .brand .slick-prev:before{
		background-color: rgba(237,236,236,.6);
    content: '<';
    color: #333;
    padding: 3px;
    font-size: 13px;
}
.bg-brand .brand .slick-prev{
	    z-index: 5;
	    left: 15px;
}
.bg-brand .brand .slick-next:before{
	background-color: rgba(237,236,236,.6);
    content: '>';
    color: #333;
    padding: 3px;
    font-size: 13px;
}
.bg-brand .brand .slick-next{
	    z-index: 5;
	   right: 15px;
}
.bg-brand{
	padding: 30px 0;
	background-image: url(../images/bg_brand.png);
	background-repeat: no-repeat;
}
.bg-bottom-menu{
	background-image: url(../images/bg_bottom_menu.png);
}
.bg-bottom-menu .nav-menu ul li a{
	font-size: 16px;
	text-transform: none;
}
.bg-bottom-menu .nav-menu ul{
	margin: 0;
}
.subs{
	position: relative;
}
#unknow{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: calc(100% - 15px);
}
.sub-email{
	width: 100%;
	padding: 4px 70px 4px 15px;
	font-size: 13px;
	font-style: italic;
	border: none;
	border:1px solid #0a4de8;
}
.subs #unknow #gui{
	position: absolute;
	top: 1px;
	right: 0;
	background-color: #ff6600;
	outline: none;
	border: none;
	height: 27px;
	width: 60px;
	color: #fff;
}
.bg-footer{
	background-image: url(../images/dark-abstract-wallpaper2.png);
}
.bg-footer .logo-content-footer {
	color: #e3e3e3;
	padding: 50px 0;
	border-bottom: 1px solid #3b3b3c;
}
.bg-footer .logo-content-footer ul {
	list-style-type: none;
	padding-top: 10px;
}
.bg-footer .logo-content-footer  ul li a:hover{
	color: #014eff;
}
.bg-footer .logo-content-footer  ul li a,
.bg-footer .logo-content-footer  ul li span,
.product .contact-content ul li span{
	font-size: 14px;
	display: inline-block;
	width: calc(100% - 20px);
	padding-left: 10px;
	line-height: 14px;
	vertical-align: middle;
	color: #e3e3e3;
	text-decoration: none;
}
.product .contact-content p{
	margin: 5px 0;
}
.product .contact-content p span{
	color: red;
	font-weight: 600;
}
.product .contact-content ul{
	margin: 5px 0 20px 0;
}
.product .contact-content ul li:last-child span:before{
	content: "\f1f9";
    font-size: 11px;
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    padding-right: 15px;
}
.product .contact-content ul li:last-child span{
	padding-left: 5px;
}
.product .contact-content ul li span{
	color: #555555;
}
.bg-footer .logo-content-footer ul li{
	margin-top: 15px;
}
.bg-footer .logo-content-footer .img-icon,
.product .contact-content .img-icon{
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	position: relative;
}
.bg-footer .logo-footer{
	width: 100px;
	height: 65px;
	position: relative;
	transform: translateY(80%);
}
.bg-footer .logo-footer:before{
	content: '';
	display: block;
	padding-top: 65px;
}
.bg-footer .logo-footer img{
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.bg-footer .logo-content-footer .img-icon:before,
.product .contact-content .img-icon:before{
	content: '';
	display: block;
	padding-top: 20px;
}
.bg-footer .logo-content-footer .img-icon img,
.product .contact-content .img-icon img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.product .contact-content .img-icon img{
	background-color: #555555;
}
.bg-footer .logo-content-footer strong{
	font-size: 18px;
	border-bottom: 2px solid #3f3f3f;
	padding: 5px 0;
	width: 100%;
	display: block;
}
.bg-footer .logo-content-footer .categorry a:before,
.bg-footer .logo-content-footer .servies a:before{
	content: "\f105";
	font-family: "Font Awesome 5 Free";
 	font-weight: 900;
  	padding-right: 10px;
}
.bg-footer .logo-content-footer .categorry a,
.bg-footer .logo-content-footer .servies a{
	padding-left: 0;
	display: block;
}
.bg-footer .copyright{
	font-size: 13px;
	color: #595959;
	padding: 5px 0;
}
.bg-footer .copyright p:before{
	content: "\f1f9";
	font-size: 11px;
	font-weight: 400;
	font-family: "Font Awesome 5 Free";
	padding-right: 3px;
}
.bg-footer .copyright span{
	color: #014eff;
	font-weight: 500;
}
.chat-online .img-chat{
	width: 200px;
	height: 30px;
	position: relative;
}
.chat-online .img-chat:before{
	content: '';
	display: block;
	padding-top: 30px;
}
.chat-online .img-chat img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}
.chat-online{
	z-index: 9;
	position: fixed;
	bottom: 0;
	right: 0;
}
.chat-online:hover{
	cursor: pointer;
}
body:before{
	content: '';
	background-color: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
}
.open-menu:before{
	opacity: 1;
}
.wrapper-list-see{
	border: 1px solid #e3e3e3;
	padding: 15px;
}
.wrapper-list-see>.see-more .title h3{
	color: #014eff;
	font-size: 18px;
	text-transform: uppercase;
	margin: 8px 0;
}
.wrapper-item-see .item .item-see-more{
	padding: 15px 0;
	border-bottom: 1px dashed #e3e3e3;
}
.wrapper-item-see .item .item-see-more .img-item{
	display: inline-block;
	width: 85px;
	height: 60px;
	vertical-align: middle;
}
.wrapper-item-see .item .item-see-more .img-item img{
	height: 100%;
	width: 100%;
}
.wrapper-item-see .item .item-see-more .content-item{
	display: inline-block;
	width: calc(100% - 85px);
	padding-left: 10px;
	vertical-align: middle;	
}
.wrapper-item-see .item .item-see-more .content-item a{
	text-decoration: none;
	color: #333333;
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
	-webkit-transition: all .3 ease;
	-o-transition: all .3 ease;
	transition: all .3 ease;
}
.wrapper-item-see .item .item-see-more .content-item a:hover{
	color: #014eff;
}
.wrapper-item-see .item .item-see-more .content-item span{
	font-style: italic;
	color: #999999;
	font-size: 12px;
}
.wrapper-item-see .item .item-see-more .content-item .view:before{
	content: "\f06e";
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    font-size: 12px;
}
.item-left .banner-lp{
	margin-top: 30px;
}
.item-left .banner-lp .img-banner{
	width: 270px;
	height: 420px;
}
.item-left .banner-lp .img-banner img{
	height: 100%;
	width: 100%;
}
.item-left{
	margin-bottom: 50px;
}
#title-item-customs{
	color: #014eff;
	background-image: none;
	padding: 0;
}
#cs-title{
	display: flex;
	 justify-content :space-between;
}
.cs-a01{
	display: inline-block;
}
.product .title .custom-link-a{
	float: none;
}
.product .title .custom-link-a:before{
	content: '|';
}
.product .title .custom-link-a:first-child:before{
	content: '';
}
.content-product .item-detail .img-detail{
	position: relative;
}
.content-product .item-detail .img-detail img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.content-product .item-detail .img-detail:before{
	content: '';
	display: block;
	padding-top: 70%;
}
.content-product .item-detail .content-detail{
	color: #555555;
}
.content-product .item-detail .content-detail h3{
	font-size: 30px;
}
.content-product .item-detail .content-detail .up-share h3 span{
	color: #555555;
}
.content-product .item-detail .content-detail .up-share h3{
	font-size: 13px;
	font-style: italic;
	border-left: 2px solid #d2d2d2;
	padding-left: 5px;
	color: #bbbbbb;
	display: inline-block;
	vertical-align: middle;
}
.content-product .item-detail .content-detail .up-share .icon-contact{
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}
.content-product .item-detail .content-detail .up-share .icon-contact a{
	display: inline-block;
	width: 15px;
	height: 15px;
}
.content-product .item-detail .content-detail .up-share .icon-contact a i{
	font-size: 9px;
}
.content-product .item-detail .content-detail ul{
	list-style-type: none;
}
.content-product .item-detail .content-detail p{
	padding: 15px 0;
	font-size: 15px;
	line-height: 18px;
}
.content-product .item-detail .content-detail ul li{
	padding-left: 5px;
}
.content-product .item-detail .content-detail ul li:before{
	content: '-';
	padding-right: 5px;
}
.specifications{
	margin-top: 30px;
}
.specifications .content-specifications h6{
	padding: 10px 0;
	margin-bottom: 0;
}
.specifications .content-specifications span{
	padding-left: 30px;
	display: block;
}
.specifications .content-specifications span:before{
	content: '-';
	padding-right: 3px;
}
.product .title .bg-title h3.servies-h3{
    color: #014eff;
    background-image: none;
    padding: 0;
}
.lienhe{
	font-size: 0;
}
.lienhe label{
	width: 20%;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 0;
	vertical-align: top;
    margin-top: 10px;

}
.lienhe input:focus,
.lienhe textarea:focus{
	outline: none;
	box-shadow: 0px 0px 1px 1px #2755d887;
}
.lienhe input{
	background-color: #f8f8f8;
	width: 80%;
	border: none;
	border: 1px solid #d7d7d7;
	display: inline-block;
	font-size: 14px;
	border-radius: 10px;
	padding: 10px 15px;
	outline: none;
	color: #999999;
}
div[class*="contact-"]{
	margin-bottom: 20px;
}
.lienhe .content-contact #submid-content{
	display: inline-block;
	font-size: 14px;
	width: 80%;
}
.lienhe .content-contact textarea{
	background-color: #f8f8f8;
	width: 100%;
	border: none;
	border: 1px solid #d7d7d7;
	border-radius: 10px;
	padding: 10px 15px;
	outline: none;
	resize: none;
	color: #999999;
	display: block;
}
.lienhe .content-contact #submid-content p{
	margin: 15px 0;
}
.lienhe .content-contact #submid-content button{
	font-size: 14px;
	color: #666666;
	border: 2px solid #dbdbdb;
	padding: 5px 30px;
	margin-right: 10px;
	font-weight: bold; 
	outline: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.lienhe .content-contact #submid-content button:hover,
.lienhe .content-contact #submid-content button:focus{
	border: 2px solid #014eff;
	cursor: pointer;
	background-color: #014eff;
	color: #fff;
	border-bottom: 2px solid #0145e5;
}

    
.servies .slick-prev.slick-arrow{
    z-index: 6;
    right: 36px;
    top: -50px;
    left: auto;
    height: 20px;
    width: 15px;
	background-color: #b2b2b2;
	transform: skewX(-10deg);
}
.servies .slick-next.slick-arrow{
    z-index: 6;
    right: 17px;
    top: -50px;
    height: 20px;
    width: 15px;
    background-color: #b2b2b2;
    transform: skewX(-10deg);
}
.servies .slick-next:before{
	content: '>';
	font-size: 13px;
}
.servies .slick-prev:before{
	content: '<';
	font-size: 13px;
}