*{
	box-sizing: border-box;
	padding: 0;
	margin: 0
}
body{
	font-family: 'Yoga';
}
.container{
	max-width: 1170px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.iconblock{


}
.fs14{
	font-size: 14px;
	color: #26bbec;
}
.hattayoga{
	padding-left: 30px;
	padding-right: 30px;
	border: 2px solid #d3d3d3;

}
.hattayoga:hover{
	background-color: #59c9ed;
	color: #fff;
}
.hattayoga:hover .bg-slider .title span,
.hattayoga:hover .content-slider span{
	color: #fff;
}

.hattayoga:hover .icon,
.hattayoga:hover .fs14{
	color: #fff;
	background-color: #59c9ed;
}
.hattayoga:hover .readmore a:hover{
	color: #fff;
}
.bg-slider{
	font-size: 0;
}
.icon{
	display: inline-block;
	font-size: 38px;
	color: #3bc2ee;
	vertical-align: middle;
}
.pd15{
	padding-right: 15px;
	border-right: 1px solid #ededed;
}
.bg-slider .title{

	display: inline-block;
	vertical-align: middle;
}
.bg-slider .title span{
	color: #2b3a58;
	font-size: 20px;
	padding-left: 20px;
}
.content-slider span{
	color: #646a7a;
	font-size: 14px;
}
.readmore{
	padding-bottom: 30px;
	padding-top: 15px;
}
.readmore a{
	color: #2b3a58;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
.readmore a:hover{
	color: #3bc2ee;
}
.slick-prev:before, .slick-next:before{
	color: #3bc2ee;
}
.block-img{
	padding-left: 15px;
	padding-right: 15px;
}