@media only screen and (max-width : 991px){
    .header .text-logo .bg-logo .item-logo.cs01,
    .header .text-logo .bg-logo .item-logo.cs02,
    .header .menu-header #download-theme,
    .header .menu-header .input-icon{
        display: none;
    }
    .header .menu-header{
        display: block;
        text-align: center;
    }
    .be-feature .wrapper-be-feature{
        position: initial !important;
        width: 100% !important;
    }
    .layout .be-feature{
        padding: 0 15px;
    }
    .banner-woo .top-banner-woo #top-banner-01,
    .banner-woo .top-banner-woo #top-banner-03{
        display: none !important;
    }
    .layout .top-title{
        padding: 0 15px;
    }
    .viewbutton{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .layout .banner-woo .content-banner-woo{
        width: 100%;
        padding: 0 15px;
    }
    .layout .top-title .header-top-title h1{
        font-size: 90px;
    }
    .layout .top-title .header-top-title h6{
        font-size: 28px;
    }
}


@media only screen and (max-width: 567px) {
    .header .menu-header{
        text-align: left;
        -webkit-filter: drop-shadow(1px -9px 11px gray); /* Safari */
        filter: drop-shadow(1px -9px 11px gray);
        background-color: #14182c;
        z-index: 10 !important;
        transition: all .3s ease;
    }
    .header .menu-header.ps-fix{
        z-index: 99 !important;
        transition: all .3s ease;
    }
    .header .op-menu{
        display: inline-flex;
        margin-top: 5px;
    }
    .header .menu-header #dropdown-ul{
        display: none;
        transition: all .3s ease;
    }
    .header .menu-header #dropdown-ul li{
        display: block;
    }
    .header .menu-header #dropdown-ul li p{
        color: #fff;
    }
    .header .menu-header #dropdown-ul li:hover{
        background-color: #fff;
    }
    .header .menu-header #dropdown-ul li p:hover{
        color: #14182c;
    }
    .header .text-logo .text .cs-h3-01{
        display: none !important;
    }
    .layout .header .h3menu{
        display: inline-block;
        float: right;
    }
    .layout .top-title .header-top-title h1{
        font-size: 65px;
    }
    .layout .top-title .header-top-title h6{
        font-size: 22px;
    }
    .layout .top-title p{
        font-size: 14px;
    }
}