*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.fz{
	font-size: 14px;
}
.fz0{
	font-size: 0;
}
.pd{
	padding: 15px;
}
.pd-tb{
	padding: 15px 0;
}
.pd-lr{
	padding: 0 15px;
}
.container{
	max-width: 1170px;
	padding: 0;
}
.header{
	background-image: url(../images/background-header.png);
	padding-bottom: 100px;
}
.header .menu-header{
	display: flex;
	padding: 15px 0;
	justify-content : flex-end;
}
.header .menu-header ul{
	list-style-type: none;
	margin:0;
}
.header .menu-header ul li{
	display: inline-block;
}
.header .menu-header ul li a{
	text-decoration: none;
	display: block;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.header .menu-header ul li a:hover{
	color: #fff;
}
.header .menu-header .input-icon{
	position: relative;
}
.header .menu-header .input-icon input{
	border: none;
	outline: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px 10px 40px;
	border: 1px solid #33384b;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
	height: 100%;
	width: 100%;
}
.header .menu-header .input-icon .fas.fa-search{
	position: absolute;
    color: #333333;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    cursor: pointer;
}
.header .menu-header button{
	border: none;
	outline: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 40px;
	margin-left: 20px;
	border: 1px solid #33384b;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
}
.header .menu-header button:hover{
	background-color: #fff;
	color: #1b1e30;
	border: 1px solid #fff;
}
.header .text-logo .text{
	text-align: center;
}
.header .text-logo .text .cs-h3-01{
	text-align: center;
	margin-bottom: 40px;
}
.header .text-logo .text .cs-h3-01 h3{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #3b4259;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	display: initial;
}
.header .text-logo .text h4{
	font-size: 66px;
	color: #fff;
	padding: 10px 0;
}
.header .text-logo .text p{
	font-size: 18px;
	color: #d9dfeb;
	font-style: italic;
}
.header .text-logo .bg-logo.row{
	margin: 0 ;
}
.header .text-logo .bg-logo .item-logo .logo .button-text{
	text-align: center;
	margin-bottom: 30px;
}
.header .text-logo .bg-logo .item-logo .logo .button-text button{
	border: none;
	outline: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 40px;
	margin-left: 20px;
	border: 1px solid #33384b;
	background-color: transparent;
	border-radius: 20px;
	cursor: pointer;
	text-transform: uppercase;
}
.header .text-logo .bg-logo .item-logo .logo .button-text button:hover{
	background-color: #fff;
	color: #1b1e30;
	border: 1px solid #fff;
}
.header .text-logo .bg-logo .item-logo .logo .img-block{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo .img-block:before{
	padding-top: 80%;
	display: block;
	content: '';
}
.header .text-logo .bg-logo .item-logo .logo .img-block img{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101 .img-block{
	width: 70%;
	height: auto;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102 .img-block{
	width: 80%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103 .img-block{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.header .text-logo .bg-logo .item-logo .logo1 .img-block img{
	height: 100%;
	width: 100%;
}
.header .text-logo .bg-logo .item-logo.cs01{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101,
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102,
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103{
	position: absolute;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103{
	bottom: -30px;
	left: 10px;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102{
	right: -30px;
	top: 20px;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101{
	left: -15px;
	top: 35%;
	transform: translateY(-50%);
}
.header .text-logo .bg-logo .item-logo .logo3 .img-block img{
	height: 100%;
	width: 100%;
}
.header .text-logo .bg-logo .item-logo.cs03{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304{
	position: absolute;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301 .img-block{
	width: 70%;
	height: auto;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302 .img-block{
	width: 80%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303 .img-block{
	width: 50%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304 .img-block{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304{
	bottom: 0;
	left: 0;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301{
	left: -20px;
    top: 80px;
	z-index: 2;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302{
	top: 15px;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303{
	top: 50%;
	right: 0;
}
.creative{
	margin-top: 100px;
}
.creative .top .header-top{
	position: relative;
}
.creative .top .header-top h1{
	color: #f1f1f3;
	font-size: 120px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	position: relative;
}
.creative .top .header-top h6{
	color: #333333;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.creative .top p{
	color: #7b7b7b;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
}
