*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.overhd{
	overflow: hidden;
}
/* .wrapperbefore:before{
	content: '';
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1d1a1ab8;
	opacity: 1;
	z-index: 30 !important;
	position: absolute;
	overflow: hidden;
} */
.fz{
	font-size: 14px;
}
.fz0{
	font-size: 0;
}
.pd0{
	padding: 0;
}
.pd{
	padding: 15px;
}
.pd-tb{
	padding: 15px 0;
}
.pd-lr{
	padding: 0 15px;
}
.container{
	max-width: 1170px;
	padding: 0;
}
.header{
	background-image: url(../images/background-header.png);
	padding-bottom: 100px;
}
.menu-header{
	display: flex;
	padding: 15px 0;
	justify-content : flex-end;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.header .menu-header.ps-fix{
	position: fixed;
	background-color: #3e4552;
	color: #555555 !important;
	width: 100%;
	z-index: 9999;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	justify-content:center;
	padding: 5px 0;
}
.header .menu-header ul{
	list-style-type: none;
	margin:0;
}
.header .menu-header ul li{
	display: inline-block;
}
.header .menu-header ul li p{
	text-decoration: none;
	display: block;
	color: #333333c7;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 0;
}
.header .menu-header.ps-fix ul li p{
	color: #cdcec7;
	cursor: pointer;
}
.header .menu-header ul li p:hover{
	color: #fff;
}
.header .menu-header .menu-hidden{
	display: none;
}
.header .menu-header .input-icon{
	position: relative;
}
.header .menu-header .input-icon input{
	border: none;
	outline: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px 10px 40px;
	border: 1px solid #33384b;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
	height: 100%;
	width: 100%;
}
.header .menu-header .input-icon .fas.fa-search{
	position: absolute;
    color: #333333;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    cursor: pointer;
}
.header .menu-header #download-theme{
	border: none;
	outline: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 40px;
	margin-left: 20px;
	border: 1px solid #33384b;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
}
.header .menu-header #download-theme:hover{
	background-color: #fff;
	color: #1b1e30;
	border: 1px solid #fff;
}
.header .text-logo .text{
	text-align: center;
}
.header .text-logo .text .cs-h3-01{
	text-align: center;
	margin-bottom: 40px;
	display: block;
	margin-top: 15px;
	margin-left: 16px;
}
.header .cs-h3-01{
	display: none;
}
.header .cs-h3-01 h3{
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	background-color: #3b4259;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	display: initial;
}
.header .text-logo .text h4{
	font-size: 67px;
    color: #fff;
    padding: 10px 0px;
    margin-left: 16px;
}
.header .text-logo .text p{
	font-size: 18px;
	color: #d9dfeb;
	font-style: italic;
	padding: 2px 0 0 25px;
}
.header .text-logo .bg-logo.row{
	margin: 0 ;
}
.header .text-logo .bg-logo .item-logo .logo .button-text{
	text-align: center;
    margin-bottom: 30px;
    padding-top: 15px;
}
.header .text-logo .bg-logo .item-logo .logo .button-text button{
	border: none;
	outline: none;
	color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 14px 33px;
    margin-left: 25px;
    border: 1px solid #33384b;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
}
.header .text-logo .bg-logo .item-logo .logo .button-text button:hover{
	background-color: #fff;
	color: #1b1e30;
	border: 1px solid #fff;
}
.header .text-logo .bg-logo .item-logo .logo .img-block{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo .img-block:before{
	padding-top: 60%;
	display: block;
	content: '';
}
.header .text-logo .bg-logo .item-logo .logo .img-block img{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101 .img-block{
	width: 70%;
	height: auto;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102 .img-block{
	width: 80%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103 .img-block{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.header .text-logo .bg-logo .item-logo .logo1 .img-block img{
	height: 100%;
	width: 100%;
}
.header .text-logo .bg-logo .item-logo.cs01{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101,
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102,
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103{
	position: absolute;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps103{
	bottom: -30px;
	left: 10px;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps102{
	right: -30px;
	top: 20px;
}
.header .text-logo .bg-logo .item-logo .logo1 #cs-ps101{
	left: -15px;
	top: 35%;
	transform: translateY(-50%);
}
.header .text-logo .bg-logo .item-logo .logo3 .img-block img{
	height: 100%;
	width: 100%;
}
.header .text-logo .bg-logo .item-logo.cs03{
	position: relative;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303,
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304{
	position: absolute;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301 .img-block{
	width: 70%;
	height: auto;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302 .img-block{
	width: 80%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303 .img-block{
	width: 50%;
	height: auto;
	float: right;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304 .img-block{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps304{
	bottom: 0;
	left: 0;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps301{
	left: -20px;
    top: 80px;
	z-index: 2;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps302{
	top: 15px;
	right: 0;
}
.header .text-logo .bg-logo .item-logo .logo3 #cs-ps303{
	top: 50%;
	right: 0;
}
.header .text-logo img{
	box-shadow: 0 0 31px 0 #403737;
}
.header .text-logo .bg-logo .item-logo .logo .img-block img{
	box-shadow: none;
}
.creative{
	margin-top: 100px;
}
.top-title{
	margin-bottom: 50px;
}
.feature .top-title .header-top-title:after{
	display: block;
	content: '';
	height: 2px;
	width: 70px;
	background-color: #000;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}
.top-title .header-top-title{
	position: relative;
}
.top-title .header-top-title h1{
	color: #f1f1f3;
	font-size: 120px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	position: relative;
}
.top-title .header-top-title h6{
	color: #333333;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.top-title p{
	color: #7b7b7b;
	font-size: 15px;
	text-align: center;
	font-weight: 400;
}
.creative .crea-menu{
	background-color: #f8f8f8;
	text-align: center;
	padding: 15px 0;
	margin: 60px 0;
}
.creative .crea-menu ul{
	list-style-type: none;
	margin-bottom: 0;
}
.creative .crea-menu ul li{
	display: inline-block;
}
.creative .crea-menu ul li p{
	font-size: 14px;
	color: #333333;
	padding: 15px;
	font-weight: bold;
	display: block;
	margin: 0;
	cursor: pointer;
}
.creative .crea-menu ul li p:hover,
.creative .crea-menu ul li p:focus{
	text-decoration: underline;
}
.creative .crea-product .wrapper-product.row{
	margin: 0;
}
.creative .crea-product .wrapper-product .item-product{
	margin-bottom: 50px;
}
.creative .crea-product .wrapper-product .item-product .product .img-product{
	position: relative;
	margin-bottom: 30px;
}
.creative .crea-product .wrapper-product .item-product .product .img-product:before{
	display: block;
	content: '';
	padding-top: 70%;
}
.creative .crea-product .wrapper-product .item-product .product .img-product img{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: 'aaaa';
	background-color: red;
	z-index: 10;
	position: fixed;
}
.creative .crea-product .wrapper-product .item-product .product .img-product img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	box-shadow: 0px 3px 14px 0 #4037378f;
}
.creative .crea-product .wrapper-product .item-product .product .img-product:hover .background{
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.creative .crea-product .wrapper-product .item-product .product .img-product .background:hover .background-01{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.creative .crea-product .wrapper-product .item-product .product .img-product .background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #1f1b1b75;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	display: flex;
	align-items:center;
	justify-content:center;
	z-index: 20;
}
.creative .crea-product .wrapper-product .item-product .product .img-product .background .background-01{
	width: 90%;
	height: 70%;
	border: 3px solid #fff;
	opacity: 1;
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	display: block;
	text-align: center;
	padding-top: 35px;
	color: #fff;
	font-size: 26px;
	pointer-events: none;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.creative .crea-product .wrapper-product .item-product .product .img-product .background .background-01 p{
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
	font-weight: bold;
}
.creative .crea-product .wrapper-product .item-product .product{
	text-align: center;
}
.creative .crea-product .wrapper-product .item-product .product a{
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.op-menu{
	padding: 0;
	display: none;
	font: inherit;
	color: inherit;
	text-transform: none;
	margin: 0;
	border:none;
	cursor: pointer;
	outline: none;
	background-color:transparent;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	margin-left: 10px;
}
.op-menu:focus{
	outline: none;
	border:none;
}
.wrapper-op-menu{
	width: 30px;
	height: 24px;
	position: relative;
	display: inline-block;
}
.icon-op-menu{
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	top: 50%;
	margin-top: -2px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu{
	transform: rotate(225deg);
	background-color: #8c8c8c;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.icon-op-menu:before{
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	top: -10px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu:before{
	top: 0;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	background-color: #8c8c8c;
}
.icon-op-menu:after{
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	border-radius: 3px;
	display: block;
	bottom: -10px;
	background-color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}
.clo-menu .icon-op-menu:after{
	bottom: 0;
    transform: rotate(-90deg);
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	background-color: #8c8c8c;
}
.feature{
	margin-bottom: 80px;
	margin-top: 45px;
}
.feature .feature-product .product{
	background-color: #fbfbfb;
}
.feature .feature-product .item-product{
	margin-bottom: 30px;
}
.feature .feature-product .item-product .img-block .img-product{
	background-color: #fff;
	box-shadow: 0 0 32px -2px #dacccc4f;
}
.feature .feature-product .item-product .img-block,
.feature .feature-product .item-product .content-product{
	display: inline-block;
	vertical-align: middle;
}
.feature .feature-product .item-product .content-product{
	width: calc(100% - 240px);
	padding: 0 10px;
}
.feature .feature-product .item-product .content-product p{
	margin-bottom: 5px;
	font-size: 14px;
	color: #7b7b7b;
}
.feature .feature-product .item-product .content-product p strong{
	font-size: 20px;
}
.feature .feature-product .item-product .img-block .img-product{
	position: relative;
	width: 240px;
	height: 240px;
}


.feature .feature-product .item-product .img-block .img-product img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 100%;
}
.banner{
	background-image: url(../images/wrapper-banner.png);
	background-size: auto;
	padding: 120px 0;
	margin-bottom: 50px;
}
.text-content h6{
	font-size: 36px;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 30px;
	position: relative;
}
.text-content h6:after{
	display: block;
	content: '';
	width: 70px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.text-content p{
	margin: 30px 0;
	font-size: 15px;
	color: #bdc2d0;
	font-weight: 500;
}
.text-content ul{
	list-style-type: none;
}
.text-content ul li{
	padding: 20px 0;
	color: #e0e5ff;
	font-size: 16px;
}
.text-content ul li:before{
	content: "\f00c";
	font-size: 18px;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	padding-right: 15px;
	color: #494c5b;
}
.banner .wrapper-right .background-macbook .img-block{
	position: relative;
}
.banner .wrapper-right .background-macbook .img-block:before{
	display: block;
	content: '';
	padding-top: 65%;
}
.banner .wrapper-right .background-macbook .img-block .macbook{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook{
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 85%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slide{
	width: 100%;
	height: 100%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slide-img{
	width: 100%;
	height: 100%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slide-img img{
	width: 100%;
	height: 100%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-track,
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-list.draggable,
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-list.draggable .slick-track .slick-slide div{
	height: 100%;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-dots{
	bottom: -80px;
}
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-dots li.slick-active button:before,
.banner .wrapper-right .background-macbook .img-block .slide-macbook .slick-dots li button:before{
	color: #fff;
}
.key-feature{
	margin-bottom: 100px;
}
.row{
	margin: 0;
}
.key-feature .product-key-features .item-product .img-block .img-item{
	width: 40px;
	height: 40px;
}
.key-feature .product-key-features .item-product .img-block .img-item img{
	max-width: 40px;
	max-height: 40px;
}
.key-feature .product-key-features .item-product{
	flex-direction: column;
	margin-bottom: 40px;
}
.key-feature .product-key-features .item-product .img-block{
	width: 110px;
	height: 110px;
	box-shadow: 0 0 36px 0px #a798984a;
	border-radius: 50%;
}
.key-feature .product-key-features .item-product,
.key-feature .product-key-features .item-product .img-block,
.key-feature .product-key-features .item-product .img-block .img-item{
	justify-content: center;
	align-items: center;
	display: flex;
}
.key-feature .product-key-features .item-product .box{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	position: relative;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.key-feature .product-key-features .item-product .box:after{
	display: block;
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #86909078;
	border-radius:50%;
	opacity:0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .box:before{
	display: block;
	content: '';
	position: absolute;
	height: 100%;
	width: 2px;
	bottom: 0;
	left: 0;
	background-color: #86909078;
	border-radius:50%;
	opacity:0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .content-item:after{
	display: block;
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	right: 0;
	background-color: #86909078;
	border-radius:50%;
	opacity:0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .content-item:before{
	display: block;
	content: '';
	position: absolute;
	height: 100%;
	width: 2px;
	top: 0;
	right: 0;
	background-color: #86909078;
	border-radius:50%;
	opacity:0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .box:hover{
	transform: scale(1.1);
	cursor: pointer;
	box-shadow: 0 0px 9px 0px #80808059;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .box:hover:after,
.key-feature .product-key-features .item-product .box:hover .content-item:after{
	opacity: 1;
	animation-name: hoverkeywidth;
  	animation-duration: 2s;
  	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.key-feature .product-key-features .item-product .box:hover:before,
.key-feature .product-key-features .item-product .box:hover .content-item:before{
	opacity: 1;
	animation-name: hoverkeyheight;
  	animation-duration: 2s;
  	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
@keyframes hoverkeywidth {
	from {
		width: 0%;
	}
	to{
		width: 100%;
	}
}
@keyframes hoverkeyheight {
	from {
		height: 0%;
	}
	to{
		height: 100%;
	}
}

.key-feature .product-key-features .item-product .content-item p{
	margin: 20px 0;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 0 30px;
}
.banner-woo{
	background-color: #000;
	margin-bottom: 100px;
	padding-bottom: 100px;
}
.banner-woo .top-banner-woo{
	display: flex;
}
.banner-woo .top-banner-woo #top-banner-02 .img-block .img-banner-woo{
	position: relative;
}
.banner-woo .top-banner-woo div[id*="top-banner"]{
	top: -50px;
} 
.banner-woo .top-banner-woo #top-banner-02 .img-block .img-banner-woo:before{
	display: block;
	content: '';
	padding-top: 50%;
}
.banner-woo .top-banner-woo  #top-banner-02 .img-block .img-banner-woo img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.banner-woo .top-banner-woo #top-banner-01,
.banner-woo .top-banner-woo #top-banner-03{
	position: relative;
	padding: 0;
}
.banner-woo .top-banner-woo #top-banner-01 .img-block,
.banner-woo .top-banner-woo #top-banner-03 .img-block{
	position: absolute;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block .img-banner-woo,
.banner-woo .top-banner-woo  #top-banner-03 .img-block .img-banner-woo{
	width: 80%;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block .img-banner-woo img,
.banner-woo .top-banner-woo  #top-banner-03 .img-block .img-banner-woo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block#cs-banner1-01{
	right: -60px;
	top: 0;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block#cs-banner1-01 .img-banner-woo,
.banner-woo .top-banner-woo  #top-banner-03 .img-block#cs-banner3-01 .img-banner-woo{
	width: 85%;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block#cs-banner1-01 .img-banner-woo{
	float: right;
}
.banner-woo .top-banner-woo  #top-banner-01 .img-block#cs-banner1-02{
	bottom: -30px;
	left: 0;
}
.banner-woo .top-banner-woo  #top-banner-03 .img-block#cs-banner3-01{
	top: 0;
	left: -30px;
}
.banner-woo .top-banner-woo  #top-banner-03 .img-block#cs-banner3-02{
	top: 50%;
	transform: translateY(-50%);
}
.banner-woo .top-banner-woo  #top-banner-03 .img-block#cs-banner3-02 .img-banner-woo{
	width: 60%;
	float: right;
}
.banner-woo .top-banner-woo  #top-banner-03 .img-block#cs-banner3-03{
	bottom: -30px;
}
.banner-woo .content-banner-woo{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
}
.banner-woo .content-banner-woo .text{
	color: #b1b1b1;
	font-size: 15px;
}
.banner-woo .content-banner-woo .text h4{
	font-size: 48px;
	color: #fff;
	position: relative;
	padding-bottom: 10px;
	font-weight: bold;
}
.banner-woo .content-banner-woo .text h4:after{
	content: '';
	display: block;
	width: 70px;
	position: absolute;
	bottom: 0;
	height: 1px;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%);
}
.banner-woo .content-banner-woo .text p{
	margin: 30px 0;
}
.banner-woo .viewbutton{
	text-align: center;
}
.banner-woo .viewbutton .cre-button{
	background-color: #fff;
	color: #000;
}

.shortcodes {
	margin-bottom: 100px;
}
.shortcodes .main-shortcodes{
	position: relative;
}
.shortcodes .top-title .header-top-title:after{
	display: block;
	content: '';
	height: 2px;
	width: 70px;
	background-color: #000;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}
.shortcodes .bottom-shortcodes{
	text-align: center;
	padding: 50px 0 70px 0;
	background-color: #eff4f752;
}
.main-shortcodes .text-scodes{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.main-shortcodes .text-scodes h3{
	font-size: 48px;
	color: #555555;
	font-weight: bold;
	background-color: #fff;
	box-shadow: 0 0 5px 0 #cec6c6;
	padding: 15px; 
	cursor: pointer;
}
.main-shortcodes .item-shortcodes a{
	text-decoration: none;
	color: #555555;
	font-size: 12px;
}
.main-shortcodes .row{
	margin: 0;
}
.main-shortcodes .row .border-shortcodes{
	border: 1px solid #eae3e34a;
	padding: 30px 15px;
}
.main-shortcodes .item-shortcodes{
	justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-shortcodes .item-shortcodes .img-block{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.main-shortcodes .item-shortcodes .img-block img{
	height: 100%;
	width: 100%;
}
.be-feature .text-content h6{
	color: #333333;
	font-weight: bold;
}
.be-feature .text-content h6:after{
	background-color: #333333;	
}
.be-feature .text-content ul li{
	color: #777777;
}
.be-feature .text-content ul li:before{
	color: #ced0da;
}
.be-feature .wrapper-text{
	padding: 0 50px;
}
.be-feature .wrapper-be-feature .img-block{
	position: relative;
	box-shadow: 0 0 28px 10px #bfb9b9;
}
.be-feature .wrapper-be-feature .img-block:before{
	content: '';
	display: block;
	padding-top: 80%;
}
.be-feature .wrapper-be-feature .img-block img{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.be-feature .wrapper-01,
.be-feature .wrapper-02{
	margin-bottom: 100px;
	align-items: center;
}
.be-feature .wrapper-02{
	flex-direction: row-reverse;
}
.shortcodes .viewbutton{
	text-align: center;
	background-color: #eae1e16e;
    padding: 60px 0;
}
.be-feature .icon-block{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: top;
}
.be-feature .icon-block:before{
	content: '';
	padding-top: 100%;
	display: block;
}
.be-feature .icon-block img{
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.be-feature .wrapper-bottom{
	background-color: #eae1e16e;
}
.be-feature .wrapper-bottom .text{
	width: calc(100% - 50px);
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
}
.be-feature .wrapper-bottom .text p{
	font-size: 24px;
	color: #333333;
}
.be-feature .wrapper-bottom .text h6{
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}
.be-feature .wrapper-bottom .text .iconstar{
	width: 100px;
	height: 15px;
	position: relative;
}
.be-feature .wrapper-bottom .text .iconstar img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.be-feature .wrapper-bottom{
	padding: 100px 0;
}
.viewbutton .cre-button{
	outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    border: none;
}
.viewbutton .cre-button:hover,
.viewbutton .cre-button:focus{
	background-color: #696262;
	color: #fff;
}
.viewbutton .cre-button:before{
	content: "\f30b";
	font-size: 16px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	position: absolute;
	top: 50%;
	left: 0px;
	opacity: 0;
	display: block;
	transform: translateY(-50%);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	pointer-events: none;
	color: #fff;
}
.viewbutton .cre-button:hover:before,
.viewbutton .cre-button:focus:before{
	opacity: 1;
	left: 15px;
	pointer-events: auto;	
}
.footer .wrapper-footer{
	background-color: #141724;
}
.footer .wrapper-footer .box-img{
	position: relative;
}
.footer .wrapper-footer .box-img:before{
	content: '';
	display: block;
	padding-top: 60%;
}
.footer .wrapper-footer .box-img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.footer .wrapper-footer .wrapper-footer01{
	top: -50px;
}
.footer .wrapper-footer .row{
	align-items: center;
}
.footer .wrapper-footer .text{
	color: #fff
}
.footer .wrapper-footer .text h6{
	font-size: 24px;
	margin-bottom: 30px;
}
.footer .wrapper-footer .text h3{
	font-size: 40px;
	font-weight: bold;
	margin-bottom:30px;
}
.footer .cre-button{
	background-color: #fff;
	color: #000;
}